body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;

}

h2 {
    color:#006EB6;
    font-size: 15px;
    
}
.dark h2 {
    color: #4f9acf
}
.dark {
    color:white
}

main {
    /* text-align: center; */
    text-align: left;
    /* margin: 5px; */
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    text-align: left;
    /* font-size: 20px; */
    /* margin-top: 50px;
    margin-bottom: 0px; */
}


li {
    margin-left: 18px;
    padding: 5px;
    padding-bottom: 20px;
}

.content {
    max-width: 600px;
}

.list {
    padding: 10px;
    
}

.title {
    letter-spacing: 5px;
    line-height: 1.5;
}

.logo {
    width: 150px;
    height: auto;
}

hr,h2 {
    margin: 0px;
    
}

.dark {
    background-color: #333;

}